# Finding the Maximum Value in a List

In [ ]:
a=[10,20,30,40,50,90,80,70,60]
mx=a[0]
for i in a:
  if i>mx:
    mx=i
print("Maximum number in the list is: ",mx)

Maximum number in the list is:  90

# Counting Vowels in a String

In [ ]:
# Countinng Vowels in a String
s="asdfghjkl qwertyuiop zxcvbnm"
c=0
for i in s:
  if i == 'a' or i=='e' or i=='o' or i=='u' or i=='i':
    c+=1
print("Number of the Vowels letters in this string is: ",c)

Number of the Vowels letters in this string is:  5

# Finding Prime Numbers within a Range

In [ ]:
# Finding Prime Numbers within a Range
num=[10,20,30,40,50,60,70,80,90,100]
flag=0
i = 3
for i in num:
  j=3
  flag=0
  while j < num:
    if num%i==0:
      flag =1
      break
if flag==0:
  print("The num")

# A Program that Simulating a Basic ATM Withdrawal

In [6]:
balance = 1000

print("\nOptions:")
print("1. Check Balance")
print("2. Withdraw")

choice = input("Choose an option (1 or 2): ")

if choice == '1':
    print("Current Balance: $",balance)
elif choice == '2':
    amount =float(input("Enter amount to withdraw: $"))
    if amount > balance:
        print("Insufficient funds")
    elif amount <= 0:
        print("Please enter a valid amount to withdraw")
    else:
        balance -= amount
        print("Withdrawal successful! You withdrew $",amount)
        print("Remaining Balance: $",balance)

Options:
1. Check Balance
2. Withdraw
Choose an option (1 or 2): 2
Enter amount to withdraw: $50
Withdrawal successful! You withdrew $ 50.0
Remaining Balance: $ 950.0

# Finding Common Elements in Two Lists

In [18]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common =[]
for i in list1:
  for j in list2:
    if i==j:
      common.append(i)
print("Common elements are: ",common)

Common elements are:  [3, 4, 5]

# Calculating Factorial of a Number

In [9]:
num = 5
factorial = 1
for i in range(1, num+1):
    factorial *= i
print(f"The factorial of {num} is {factorial}")

The factorial of 5 is 120

# Validating User Input with While Loop

In [23]:
from_user= input("Enter a number: ")
if from_user.isdigit():
  print("Valid input")
else:
  print("Invalid input")

Enter a number: 123
Valid input

# Finding the Sum of Digits of a Number

In [10]:
num = 12345
sum = 0
while num > 0:
    digit = num % 10
    sum+=digit
    num = num/10
print("Sum of digits:", sum)

Sum of digits: 16.666666666666664

# Checking for Palindrome Strings

In [24]:
string = "aya"
is_palindrome = True
length = len(string)
i = 0
while i < length / 2:
    if string[i] != string[length - i - 1]:
        is_palindrome = False
        break
    i += 1
if is_palindrome:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

The string is a palindrome

# Creating a Dictionary from Two Lists

In [14]:
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
dictionary = {}
for i in range(len(keys)):
    dictionary[keys[i]] = values[i]
print("The Created Dictionary:", dictionary)

The Created Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Simulating a Simple Password Check

In [16]:
correct_pass="Marioma123"
password=input("Enter your password: ")

# Check if the entered password matches the correct password
if password == correct_pass:
    print("Password is correct")
else:
    print("Password is incorrect")

Enter your password: Marioma123
Password is correct

# Generating a Multiplication Table for a Given Number

In [17]:
number = int(input("Enter a number to generate its multiplication table: "))
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number to generate its multiplication table: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40